{% extends 'base.html' %}

{% block content %}

<style>
  html,
  body {
    height: auto;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
</style>

<h2 class="mb-5 text-center">Please click on the face that is more <b><i>dominant</i></b>.</h2>


<div class="row">
  <div class="col-sm-6 order-sm-12">
    <a href="{% url 'input' 1 %}">
      <img class="w-100" src=/static/images/{{image1}}>
    </a>
  </div>
  <div class="col-sm-6 order-sm-1">
    <a href="{% url 'input' 2 %}">
      <img class="w-100" src=/static/images/{{image2}}>
    </a>
  </div>
</div>

<form class="mt-5 text-center" action="{% url 'profile' %}">
  <button class="btn btn-lg btn-primary btn-group btn-group-justified" type="submit">Return to Profile</button>
</form>

{% endblock %}

<!-- <html>
<head>
    <title>JAMM Bandit</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<script>


function noChange() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../static/images/fi_000_dom0.bmp";
}

function yesChange() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../static/images/fi_000_dom1.bmp";
}

function skip() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../static/images/fi_000_dom2.bmp";
}

var count = (function() {
  var curr_count = 0;
  return function() {
    curr_count += 2;
    document.getElementById("click-num").textContent = curr_count;
  }
})();

function record_win(el_id) {
  console.log(`${el_id} won!`);
  count();
}


document.addEventListener("keydown", evt => {
  var keyCode = evt.which || evt.keyCode;
  if (keyCode == 39) { //right arrow key
    record_win("candidate2");
  } else if (keyCode == 37) { // left arrow key
    record_win("candidate1");
  }
});

/*
// user_choice is an arbitrary string label or int. 
function result(user_choice) {
  console.log(user_choice);
  image = document.getElementById("candidate");
if!image) { 
    console.log("No image element in page."); 
    return; 
  }
  // Load a new image but report result.
  document.location = "/?log="+image.src+":"+user_choice;
}

// Simple click
// document.addEventListener('click', function(){result(0);}, false);        

// Click and drag (non-touch-screen)
document.addEventListener('dragstart', handleDragStart, false);
document.addEventListener('dragend', handleDragEnd, false);

// On mobile swipe action
document.addEventListener('touchstart', handleTouchStart, false);        
document.addEventListener('touchmove', handleTouchEnd, false);

var xDown = null;                                                        
function handleDragStart(evt) {                                         
  xDown = evt.clientX;                                      
};                                                
function handleTouchStart(evt) {                                         
  xDown = evt.touches[0].clientX;                                      
};                                                
function handleTouchEnd(evt) {
  handleEnd(evt.touches[0].clientX);
}
function handleDragEnd(evt) {
  handleEnd(evt.clientX);
}
function handleEnd(xUp) {
  if ( !xDown ) { return; }
  var xDiff = xDown - xUp;
  if ( xDiff > 2 ) result(1);   
  if ( xDiff < -2 ) result(-1);   
  xDown = null;
};
*/

</script>
<body class="bg-light" dragable="true" height=100%> 



  <div class="page-header row justify-content-center">
    <h1>Please click on the face that is more <b><i>dominant</i></b>.</h1>
  </div>

  <div class="row justify-content-center">
    <h2>Faces seen: <p id="click-num">0</p></h2>
  </div>

  <div class="row justify-content-center">
    <img src="../static/images/fi_001_dom0.bmp" id="candidate1" style="500px", height="500px" onClick="record_win(this.id)"> 
    <img src="../static/images/fi_001_dom0.bmp" id="candidate2" style="500px", height="500px" onClick="record_win(this.id)"> 
  </div>

  <form class="mt-5 text-center" action="{% url 'profile' %}">
    <button class="btn btn-lg btn-primary btn-group btn-group-justified" type="submit">Return to Profile</button>
  </form>

</body>
</html> -->

