{% extends 'base.html' %}

{% block content %}

<style>
  html,
  body {
    height: auto;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
</style>
    <h2 class="text-center">Please Read Before Continuing:</h2>
    <p class="text-left">
      Please read this consent agreement carefully before you participate in this experiment. If
      anything unclear, please ask email the researcher for more information.
      <br>
      <br>
      <b>Purpose of the experiment</b>
      <br>
      To determine how we perceive and think about others in a social context: what information do
      we get from perceiving others, do people agree about this information, and what do we do with
      this information?
      <br>
      <br>
      <b>What will I be doing?</b>
      <br>
      The computer is going to present you with faces. You’re going to make judgments about these
      stimuli, as instructed to you on the computer screen.
      <br>
      <br>
      <b>How long will it take?</b>
      <br>
      The study should take approximately 10 minutes.
      <br>
      <br>
      <b>What are the risks?</b>
      <br>
      There are no risks to you participating in this study.
      <br>
      <br>
      <b>What are the benefits?</b>
      <br>
      The benefit of this study is that you will be learning about social contexts and people perception.
      Once you have completed the study, the study will be explained in further detail and hopefully
      answer any questions you might have. If you’re interested, let us know and we can send you a
      copy of our findings once the study is complete.
      <br>
      <br>
      <b>Confidentiality, Participation and Withdrawal</b>
      <br>
      No one will know that you participated in today’s experiment and the data that you produce from
      this experiment will never have your name attached to it. Everything that happens in this
      experiment will stay completely confidential. The study's results may be presented at
      conferences and/or published in journals, magazines, or newspapers. If we do, your name or any
      identifying information will never be mentioned. Even still, though, if you’re uncomfortable with
      the experiment, you may end your participation at any time and still receive compensation for
      your time. If you decide to stop at any point, no questions will be asked.
      <br>
      <br>
      <b>Contact</b>
      <br>
      If you have any questions about this experiment, let us know: facesperception@gmail.com
      <br>
      <br>
      <b>Agreement</b>
      <br>
      If you understand what this experiment is about and agree to participate in this study, please
      indicate so below.</p>
      <h3 class = text-center> If you do not consent to the study, please close the window and your data will not be recorded</h3>
    <form class="text-center" action="{% url 'user_login' %}" method="GET">
      {% csrf_token %}
      <button class="btn btn-lg btn-primary btn-group btn-group-justified" type="submit">Continue</button>
    </form>
  
{% endblock %}