<html>
<head>
    <title>JAMM Bandit</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<script>

function noChange() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../images/2.png";
}

function yesChange() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../images/3.png";
}

function skip() {
    var imgElement = document.getElementById('candidate');
	imgElement.src = "../images/4.png";
}

/*
// user_choice is an arbitrary string label or int. 
function result(user_choice) {
  console.log(user_choice);
  image = document.getElementById("candidate");
if!image) { 
    console.log("No image element in page."); 
    return; 
  }
  // Load a new image but report result.
  document.location = "/?log="+image.src+":"+user_choice;
}

// Simple click
// document.addEventListener('click', function(){result(0);}, false);        

// Click and drag (non-touch-screen)
document.addEventListener('dragstart', handleDragStart, false);
document.addEventListener('dragend', handleDragEnd, false);

// On mobile swipe action
document.addEventListener('touchstart', handleTouchStart, false);        
document.addEventListener('touchmove', handleTouchEnd, false);

var xDown = null;                                                        
function handleDragStart(evt) {                                         
  xDown = evt.clientX;                                      
};                                                
function handleTouchStart(evt) {                                         
  xDown = evt.touches[0].clientX;                                      
};                                                
function handleTouchEnd(evt) {
  handleEnd(evt.touches[0].clientX);
}
function handleDragEnd(evt) {
  handleEnd(evt.clientX);
}
function handleEnd(xUp) {
  if ( !xDown ) { return; }
  var xDiff = xDown - xUp;
  if ( xDiff > 2 ) result(1);   
  if ( xDiff < -2 ) result(-1);   
  xDown = null;
};
*/

</script>
<style>
body {
  background: rgba(120, 99, 71, 0.2);
  color: black;
}

#candidate {
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
}

.yesno {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.skip {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>

<body dragable="true"> 
    <center>Is this face <b><i>warm</i></b>?  </center> 
    <img src="{{  image  }}" id="candidate" style="width:500px", height="500px"> 
    <div class="yesno">
		<button onclick="noChange();", style="width:100px","height:80px">No</button>
		<button onclick="yesChange();", style="width:100px","height:80px">Yes</button>
    </div>
	<div class="skip">
		<button onclick="skip();", style="width:200px">Skip</button>
	</div>
</body>
</html>
